---
title: Home
layout: default
---

<!-- Banner -->
<section id="banner">
	<header>
		<h2 class="editable"></h2>
		<a href="/about/mission" class="button editable">Learn More</a>
		<ul class="icons">
			{% if site.social.twitter %}<li><a href="http://twitter.com/gridlab" class="icon fa-twitter"><span class="label">Twitter - GRID Lab</span></a></li>{% endif %}
			{% if site.social.facebook %}<li><a href="http://facebook.com/gridlab" class="icon fa-facebook"><span class="label">Facebook - GRID Lab</span></a></li>{% endif %}
			<!--{% if site.social.github %}<li><a href="{{ site.social.github }}" class="icon fa-github"><span class="label">GitHub</span></a></li>{% endif %}
			{% if site.social.linkded-in %}<li><a href="{{ site.social.linkded-in }}" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>{% endif %}
			{% if site.social.google-plus %}<li><a href="{{ site.social.google-plus }}" class="icon fa-google-plus"><span class="label">Google+</span></a></li>{% endif %}
		-->
		</ul>
	</header>
</section>


<!-- Highlights -->
<!--
<section class="wrapper style1">
	<div class="container">
		<div class="row double">
			<section class="4u">
				<div class="box highlight">
					<i class="icon major fa-paper-plane"></i>
					<h3 class="editable">This Is Important</h3>
					<p class="editable">Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
				</div>
			</section>
			<section class="4u">
				<div class="box highlight">
					<i class="icon major fa-pencil"></i>
					<h3 class="editable">Also Important</h3>
					<p class="editable">Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
				</div>
			</section>
			<section class="4u">
				<div class="box highlight">
					<i class="icon major fa-wrench"></i>
					<h3 class="editable">Probably Important</h3>
					<p class="editable">Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
				</div>
			</section>
		</div>
	</div>
</section>
-->
<!-- Gigantic Heading -->
{% include gigantic-heading.html %}

<!-- Posts -->
<section class="wrapper style1">
	<div class="container">
		<div class="row">
			{% for post in site.posts limit: 4 %}
				<section class="6u">
					<div class="box post">
						<a href="#" class="image left"><img src="{{ site.baseurl }}{{ post.banner }}" alt="{{ post.banner-info }}" /></a>
						<div class="inner">
							<h3>{{ post.title }}</h3>
							<p>{{ post.excerpt | remove: '<p>' | remove: '</p>' | truncate: 100, '' }} <a href="{{ post.url }}">[read more]</a> </p>
						</div>
					</div>
				</section>
			{% endfor %}
		</div>
	</div>
</section>

{% include cta.html %}
