<!-- CTA class="wrapper style3"-->
<section id="cta">
	<div class="container">
		<!--<header>
			<h2 class="editable">Are you ready to continue your quest?</h2>
			<a href="#" class="button editable">Insert Coin</a>
		</header>-->
		<ul class="icons" align="center">
			{% if site.social.twitter %}<li><a href="http://twitter.com/gridlab" class="icon fa-twitter"><span class="label">Twitter - GRID Lab</span></a></li>{% endif %}
			{% if site.social.facebook %}<li><a href="http://facebook.com/gridlab" class="icon fa-facebook"><span class="label">Facebook - GRID Lab</span></a></li>{% endif %}
			<!--{% if site.social.github %}<li><a href="{{ site.social.github }}" class="icon fa-github"><span class="label">GitHub</span></a></li>{% endif %}
			{% if site.social.linkded-in %}<li><a href="{{ site.social.linkded-in }}" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>{% endif %}
			{% if site.social.google-plus %}<li><a href="{{ site.social.google-plus }}" class="icon fa-google-plus"><span class="label">Google+</span></a></li>{% endif %}
		-->
		</ul>
	</div>
</section>
