<section class="wrapper style2">
	<div class="container">
		<header class="major">
			<h2 class="editable">The GRID Lab serves as an innovative and creative center for students, faculty, and staff research and project development</h2>
			<!--<p class="editable">With a much smaller subtitle hanging out just below it</p>-->
			<!---<iframe width="560" height="315" src="https://www.youtube.com/embed/xhj_cDTxsb0" frameborder="0" allowfullscreen></iframe>-->
			<div class="box"><iframe src="https://www.youtube.com/embed/xhj_cDTxsb0" frameborder="0" scrolling="no" width="100%" height="512" align="left"> </iframe> </div>
    	</iframe>
		</header>
	</div>
</section>
