---
permalink: /about/team/
layout: left-sidebar
title: GRID Lab Team
subtitle:
---

<h1>Leadership</h1>
<ul>
	{% assign leadership = site.data.team | where:"status","leadership" %}
	{% for member in leadership %}
		{% include member.html member=member %}
	{% endfor %}
</ul>

<h1>Partners</h1>
<ul>
	{% assign partners = site.data.team | where:"status","partner" | sort: "name" %}
	{% for member in partners %}
		{% include member.html member=member %}
	{% endfor %}
</ul>


<h1>Student Team</h1>
<ul>
	{% assign students = site.data.team | where:"status","student team" | sort: "name" %}
	{% for member in students %}
		{% include member.html member=member %}
	{% endfor %}
</ul>
